body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  background-color: #1877F2;
  color: #F5F5F5 ;
  padding: 1rem;
  text-align: center;
}

header nav a {
  color: #F5F5F5 ;
  margin: 0 10px;
  text-decoration: none;
}

.project-card {
  border: 1px solid #F5F5F5 ;
  padding: 1rem;
  margin: 1rem 0;
}

section {
  padding: 2rem;
}

h2 {
  border-bottom: 2px solid #F5F5F5 ;
  padding-bottom: 0.5rem;
}
